.App {
  padding: 30px;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}

/* prevent the app from jumping because of the spinner */
.progress-bar {
  width: 100%;
  height: 10px;
  position: absolute;
}
